.input-column{
    display: grid;
    justify-content: center;
    margin-top: 220px;
}

.input-1{
    height: 30px;
    width: 250px;
}

.input-2{
    height: 30px;
    width: 250px;
    margin-top: 5px;
}

.input-text{
    color: #E01A1A;
    margin-left: 15px;
}

.regist-btn{
    color: white;
    background-color: #E01A1A;
    padding: 10px 10px;
    margin-left: 83px;
    cursor: pointer;
    border: none;
}

.input-button{
    padding-top: 5px;
}

.regist-href{
    color: #E01A1A;
}

.err-text-regist{
    font-size: small;
    color: red;
}